<div class="container">
  <h1>Create a new list</h1>
  <h3><%= link_to "Back", lists_path %></h3>

  <%= simple_form_for @list do |f| %>
    <%= f.input :name %>
    <%= f.input :photo, as: :file %>
    <%= f.button :submit, class: "btn-lg btn-light btn-block shadow-sm" %>
  <% end %>
</div>
