<div class="container">
  <h1>Add a movie</h1>
  <h3><%= link_to "Back", list_path(@list) %></h3>
  <%= simple_form_for [@list, @bookmark] do |f| %>
    <%= f.association :movie %>
    <%= f.input :comment %>
    <%= f.button :submit, "Add movie", class: "btn-lg btn-light btn-block shadow-sm" %>
  <% end %>
</div>
